body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  background-color:#fff;
}
* {
  box-sizing: border-box;
}
h1 , h2 , h3,h4,h5{
  margin: 0 ;
}

.container {
  width: 100%;
  max-width: 1500px;
  margin: 0 auto;
}
.header-wrapper{
  background-color: rgb(129, 170, 182);

}
.App-header {

  background-color: rgb(129, 170, 182);
  padding-top: 50px;
  padding-bottom: 50px;
}

.header__iner {
  display: flex;
  justify-content: space-between;
  align-items: center;
 

}
.nav{
font-size: 17px;
font-weight: 800;
}
.nav_list {
color:#000;
text-decoration: none;
margin-left:30px;
padding-left:30px;
opacity: 0.7;
transition: opacity .3s 
linear;
}
.nav_list2 {
  border-left: 2px solid silver ;
}
.nav_list2:first-child {
border: none;
}

.nav_list:hover {
  
  opacity: 1;
}


#serch-img {
  width: 14px ;
  height: 14px;
  margin-left: 60px;
  cursor: pointer;
}
